{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center text-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h3>Liste des commentaires du post :</h3>
                <h4>{{ trick.title }}</h4>
                <h5>modifié le {{ trick.modifiedAt | date('d/m/Y H:i:s') }}</h5>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <a href="/admin"  class="btn btn-primary col-md-2 col-sm-6 text-uppercase">Retour</a>
            <!-- DEBUT PAGINATION -->
            {% if nbPages > 1 %}
                {# nombre de pages autour de l'actuelle page+1 #}
                {% set nearbyPagesLimit = 4 %}
                <div class="row text-uppercase justify-content-center">
                    <ul class="pagination justify-content-center" style="width: 50%">
                        {% if currentPage != 1 %}
                            <li class="page-item">
                                <a class="page-link" href="/admin/trick/{{ trick.id }}/comments?page_user={{ currentPage-1 }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="/admin" aria-label="Previous" disabled="disabled">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for i in 1..nbPages %}
                            {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %} {# points avant #}
                                <li class="disabled page-item"><a class="page-link" href="#">...</a></li>
                            {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %} {# points après #}
                                <li class="disabled page-item"><a class="page-link" href="#">...</a></li>
                            {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %} {# tout cacher avant #}
                            {% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %} {# tout cacher après #}
                            {% else %}
                                <li {% if currentPage == loop.index  %} class="active page-item"{% endif %}>
                                    <a class="page-link" href="/admin/trick/{{ trick.id }}/comments?page_user={{ loop.index }}">{{ loop.index }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if currentPage != nbPages %}
                            <li class="page-item">
                                <a class="page-link" href="/admin/trick/{{ trick.id }}/comments?page_user={{ currentPage+1 }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="/admin/trick/{{ trick.id }}/comments?page_user={{ currentPage}}" aria-label="Next" disabled="disabled">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            <!-- FIN PAGINATION -->
            <table style="width: 100%">
                <tr>
                    <td><p><strong>Auteur</strong></p></td>
                    <td><p><strong>Contenu</strong></p></td>
                    <td><p><strong>Date de création</strong></p></td>
                    <td><p><strong>Statut</strong></p></td>
                </tr>
                {% for comment in trick.comments %}
                    <tr>
                        <td><p>{{ comment.user.username }}</p></td>
                        <td><p>{{ comment.content }}</p></td>
                        <td><p>{{ comment.createdAt | date('d/m/Y H:i:s') }}</p></td>
                        <td><p>{{ comment.isVerified ? '<p><i color="green" class="fa fa-check " aria-hidden="true"></i></p>' : '<p><i color="red" class="fa fa-times " aria-hidden="true"></i></p>' }}</p></td>
                        <td>
                            <p><input class="btn btn-danger btn-sm text-uppercase" type="button" id="status-form" name="status-form" data-bs-toggle="modal" data-bs-target="#exampleModal{{ comment.id }}" value="Changer Statut"></p>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal{{ comment.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Changement de Status</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Êtes-vous sur de vouloir modifier le statut de ce commentaire ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                                            <form name="statusComment{{ comment.id }}" method="POST" action="/admin/comment/{{ comment.id }}/change">
                                                <button type="submit" class="btn btn-primary">Oui</button>
                                                <input type="hidden" id="trick" name="trick" value="{{ trick.id }}">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}