{% extends "base.html.twig" %}

{% block title %}Modification Media{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <div id="formMedia">
        <section>
            <h1 id="form-title">Modification de Media</h1>
            <div class="trick-media-col" style="text-align: center">
                {% if media.type == 'image' %}
                    <img class="col-12 trick-media" height="250" src="{{ media.url }}" alt="figure - media {{ media.id }}">
                {% else %}
                    <iframe class="col-12 trick-media" height="250" src="{{ media.url }}" allowfullscreen></iframe>
                {% endif %}
            </div>
            {{ form_start(form) }}
            <div class="container form-control form-trick " style="background: none; height: max-content">
                {{  form_row(form.url, {'attr': {'label': "Lien URL"}}) }}
                {{  form_row(form.type, {'attr': {'label': "Type"}}) }}
                <div id="btn-form">
                    <a class="btn btn-secondary" href="/trick/{{ media.trick.id }}-{{ media.trick.slug }}/edit" role="button">Retour</a>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#modalMedia" class="btn btn-primary">Enregistrer</button>
                    {# Modal pour confirmer la modification du media #}
                    <div class="modal fade" id="modalMedia" tabindex="-1" aria-labelledby="modalLabelMedia" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabelMedia">Modification de Média</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Êtes-vous sur de vouloir modifier ce média ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                                    <button type="submit" class="btn btn-primary">Oui</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}
