{% extends 'base.html.twig' %}

{% form_theme commentForm 'bootstrap_5_layout.html.twig' %}

{% block title %}{{ trick.title }}{% endblock %}

{% block header %}
    <!-- Header - set the background image for the header in the line below  assets/img/img1.jpg -->
    {% set image = trick.media|filter(v => v.type == "image")|first %}
    {% if image is defined %}
        {% set bgImage = image.url %}
    {% else %}
        {% set bgImage = "../../build/img/img1.jpg" %}
    {% endif %}
    <header class="py-1 bg-image-full d-flex" style="background-image: url('{{ bgImage }}');">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7" style="margin-top: 15em">
                    <div class="text-center my-5">
                        <div class="p-2"><h1 class="text-white fw-bolder">{{ trick.title }}</h1></div>
                    </div>
                </div>
            </div>
        </div>
        {% if app.user %}
        <div class="d-flex justify-content-end flex-column">
            <div class="mb-auto p-2" style="background: white">
                <a class="col-2 edit" href="/trick/{{ trick.id }}-{{ trick.slug }}/edit" style="margin-right: 1.5em"><i class="fas fa-pen fa-2x"></i></a>
                <a class="col-2 cross" data-bs-toggle="modal" data-bs-target="#modalTrick"><i class="fa fa-times fa-2x" ></i></a>
                {# Modal pour confirmer la supression du trick #}
                <div class="modal fade" id="modalTrick" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Suppression d'Article</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Êtes-vous sur de vouloir supprimer le trick <strong>{{ trick.title }}</strong> ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                                <a class="btn btn-primary" href="/trick/delete/{{ trick.id }}" role="button">Oui</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </header>
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <article class="container">
        {# Section des images #}
        <div class="row">
            <button id="displayMedias" class="btn btn-primary col-4 offset-4" onclick="displayMedias()">Voir Médias</button>
        </div>
        <section id="mediasTrick" class="row trick-medias">
            {% for media in trick.media %}
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="trick-media-col">
                        {% if media.type == 'image' %}
                            <img class="trick-media" height="250" src="{{ media.url }}" alt="figure {{ trick.title }} - image {{ loop.index }}">
                        {% else %}
                            <iframe class="trick-media" height="250" src="{{ media.url }}" allowfullscreen></iframe>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </section>
        {# Section Texte #}
        <section id="content-trick">
            <div id="description-trick">
                <p>{{ trick.description }}</p>
            </div>
            {# Affichage du groupe / date de création / date de modification #}
            <div id="end-content-trick" class="row">
                <div class="col">
                    <p>Catégorie :<br><strong>{{ trick.group.title }}</strong></p>
                </div>
                <div class="col">
                    <p>Date de création :<br><strong>{{ trick.createdAt|date('d/m/Y') }}</strong></p>
                </div>
                {% if trick.modifiedAt != trick.createdAt %}
                <div class="col">
                    <p>Date de modification :<br><strong>{{ trick.modifiedAt|date('d/m/Y') }}</strong></p>
                </div>
                {% endif %}
            </div>
        </section>
        <hr>
    {# Section commentaires #}
        <section id="comments-trick">
            <div class="row">
                <h2>Commentaires</h2>
                {% if app.user %}
                <div class="col-8">
                {{ form_start(commentForm) }}
                {{ form_widget(commentForm) }}
                </div>
                <div id="btn-comment" class="col-2">
                    <button type="submit" class="btn btn-primary btn-lg">Envoyer</button>
                </div>
                {{ form_end(commentForm) }}
            {% else %}
                <h3 class="h5"><small>Vous devez être connecté pour commenter.</small></h3>
            {% endif %}
            </div>
            <hr>
            <!-- DEBUT PAGINATION -->
            {% if nbPages > 1 %}
                {# nombre de pages autour de l'actuelle page+1 #}
                {% set nearbyPagesLimit = 4 %}
                <div class="row text-uppercase justify-content-center">
                    <ul class="pagination justify-content-center" style="width: 50%">
                        {% if currentPage != 1 %}
                            <li class="page-item">
                                <a class="page-link" href="/trick/{{ trick.id }}-{{ trick.slug }}?page={{ currentPage-1 }}#comments-trick" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="/trick/{{ trick.id }}-{{ trick.slug }}#comments-trick" aria-label="Previous" disabled="disabled">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for i in 1..nbPages %}
                            {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %} {# points avant #}
                                <li class="disabled page-item"><a class="page-link" href="#">...</a></li>
                            {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %} {# points après #}
                                <li class="disabled page-item"><a class="page-link" href="#">...</a></li>
                            {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %} {# tout cacher avant #}
                            {% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %} {# tout cacher après #}
                            {% else %}
                                <li {% if currentPage == loop.index  %} class="active page-item"{% endif %}>
                                    <a class="page-link" href="/trick/{{ trick.id }}-{{ trick.slug }}?page={{ loop.index }}#comments-trick">{{ loop.index }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if currentPage != nbPages %}
                            <li class="page-item">
                                <a class="page-link" href="/trick/{{ trick.id }}-{{ trick.slug }}?page={{ currentPage+1 }}#comments-trick" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="/trick/{{ trick.id }}-{{ trick.slug }}?page={{ currentPage}}#comments-trick" aria-label="Next" disabled="disabled">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            <!-- FIN PAGINATION -->
            <!-- Comments -->
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {% for comment in comments|filter(c => c.isVerified == 1) %}
                            <!-- Post preview-->
                            <div class="card container comment">
                                <div class="row">
                                    {# Emplacement de l'image de l'utilisateur #}
                                    <div class="col-4">
                                        <img src="{{ comment.user.imageUrl }}" class="rounded-circle col-4" style="width: 7em;"/>
                                    </div>
                                    {# Nom d'utilisateur pour le commentaire #}
                                    <div style="margin-bottom: auto;margin-top: auto" class="col-8">
                                        <h5><strong>{{ comment.user.username }}</strong></h5>
                                        <small>Posté le : {{ comment.createdAt|date('d/m/Y') }} à {{ comment.createdAt|date('H:m') }}</small>
                                        <p>{{ comment.content }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </article>
{% endblock %}
